<ion-view view-title="Quick Links">
  <ion-content class="has-footer">


      <div class="list" >

        <a class="item item-icon-left" ng-click="openLink('http://guptabansal.com')">
          <i class="icon ion-flag royal"></i>
          Latest Updates
        </a>

        <a class="item item-icon-left" ng-click="openLink('http://guptabansal.com/publications.html')">
          <i class="icon ion-ios-book royal"></i>
          Publications
        </a>

        <a class="item item-icon-left" ng-click="openModal()">
          <i class="icon ion-android-cart royal"></i>
          Buy Online
        </a>

        <a class="item item-icon-left" ng-click="openLink('http://guptabansal.com/downloads.html')">
          <i class="icon ion-android-download royal"></i>
          Free Download
        </a>

        <a class="item item-icon-left" href="('http://guptabansal.com/brainteaser.html')">
          <i class="icon ion-android-bulb royal"></i>
          Brain Teaser
        </a>

        <a class="item item-icon-left" ng-click="openLink('https://www.facebook.com/guptabansalgroup')">
          <i class="icon ion-social-facebook royal"></i>
          Like Our Facebook Page
        </a>

        <a class="item item-icon-left" ng-click="openLink('http://guptabansal.blogspot.com')">
          <i class="icon ion-social-rss royal"></i>
          Read Our Blogs
        </a>

        <a class="item item-icon-left" ng-click="openLink('https://play.google.com/store/apps/details?id=com.piexsys.guptabansal.app')">
          <i class="icon ion-star royal"></i>
          Rate Our App
        </a>

        <a class="item item-icon-left" ng-click="openLink('http://guptabansal.com/contact.aspx')">
          <i class="icon ion-email royal"></i>
          Contact Us
        </a>


      </div>

  </ion-content>
</ion-view>
